<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vite + TS</title>
  </head>
  <body>
    <div id="app"></div>

    <script type="module" src="/src/main.ts"></script>

    <script type="module">
      import { createApp } from 'https://unpkg.com/petite-vue?module'
      import {
        SDK_BASE_URLS,
        getAccountList,
        getAccountById,
        initSDK,
        totalStaked,
        amountCanBeStaked,
        stake,
        unstake
      } from '/src/main.ts'

      createApp({
        chainNames: Object.keys(SDK_BASE_URLS),
        chainNameOrUrl: undefined,
        accountIdOrAddress: undefined,
        output: '',
        accountIds: null,
        sdk: undefined,
        account: undefined,
        amount: '',
        async requestAccountIds() {
          this.accountIds = (await getAccountList()).map(el => (el.id));
        },
        setChainNameOrUrl(value) {
          if (value.target) {
            if (value.target._value) this.chainNameOrUrl = value.target._value
            else this.chainNameOrUrl = event.target.value;
          }
        },
        setAccountIdOrAddress(value) {
          if (value.target) {
            if (value.target._value) this.accountIdOrAddress = value.target._value
            else this.accountIdOrAddress = value.target.value;
          }
        },
        setAmount(value) {
          if (value.target) {
            this.amount = event.target.value;
          }
        },
        async functionWrapperLogger(func, paramsArray) {
          this.output = '';
          const result = await func(...paramsArray);
          console.log(result);
          try {
            this.output = JSON.stringify(result, null, 2);
          } catch (e) {
            this.output = 'Error parsing result object';
          }
          return result;
        },
        getAccountList: function() {
          return this.functionWrapperLogger(getAccountList, []);
        },
        getAccountById: async function(params) {
          const account = await this.functionWrapperLogger(getAccountById, params)
          this.account = account
          return account
        },
        initSDK: async function(params) {
          const sdk = await this.functionWrapperLogger(initSDK, params)
          this.sdk = sdk
          return sdk
        },
        totalStaked: async function(params) {
          return this.functionWrapperLogger(totalStaked, params)
        },
        amountCanBeStaked: async function(params) {
          return this.functionWrapperLogger(amountCanBeStaked, params)
        },
        stake: async function(params) {
          return this.functionWrapperLogger(stake, params)
        },
        unstake: async function(params) {
          return this.functionWrapperLogger(unstake, params)
        }
      }).mount();
    </script>

    <div v-scope @vue:mounted="requestAccountIds">
      <div>
        <h3>Set chain</h3>
        <div v-for="name in chainNames" :key="name">
          <input type="radio" name="chain" :value="name" @click="setChainNameOrUrl" />
          <label>{{name}}</label>
        </div>
        <div>
          <input type="text" @input="setChainNameOrUrl" >
        </div>
        <div>Value: {{chainNameOrUrl}}</div>
      </div>
      <div>
        <h3>Set account</h3>
        <div v-for="accountId in accountIds" :key="accountId">
          <input type="radio" name="account" :value="accountId" @click="setAccountIdOrAddress" />
          <label>{{accountId}}</label>
        </div>
        <div>
          <input type="text" @input="setAccountIdOrAddress" >
        </div>
        <div>Value: {{accountIdOrAddress}}</div>
      </div>

      <h3>Actions</h3>
      <div>
        <button style="display: block;" @click="getAccountList">getAccountList</button>
        <button style="display: block;" @click="getAccountById([accountIdOrAddress])">getAccountById</button>
        <button style="display: block;" @click="initSDK([chainNameOrUrl])">initSDK</button>
        <div v-for="[func, name] in [[totalStaked, 'totalStaked'], [amountCanBeStaked, 'amountCanBeStaked'], [stake, 'stake'], [unstake, 'unstake']]" :key="name">
          <button @click="func([accountIdOrAddress, chainNameOrUrl, name === 'stake' ? amount : undefined])">{{name}}</button>
          <button :disabled="!sdk" @click="func([accountIdOrAddress, sdk, name === 'stake' ? amount : undefined])">{{name}} (use sdk object)</button>
          <button :disabled="!account" @click="func([account, chainNameOrUrl, name === 'stake' ? amount : undefined])">{{name}} (use account object)</button>
          <button :disabled="!sdk || !account" @click="func([account, sdk, name === 'stake' ? amount : undefined])">{{name}} (use sdk and account objects)</button>
          <input v-if="name === 'stake'" placeholder="amount" type="text" @input="setAmount" >
          <span v-if="name === 'stake'">{{amount}}</span>
        </div>
      </div>

      <h3>Output</h3>
      <div v-if="sdk">Received instance sdk</div>{{sdk}}
      <div v-if="account">Received account</div>
      <button style="display: block;" @click="output=''; sdk=undefined; account=undefined">clear</button>
      <div>{{output}}</div>
    </div>
  </body>
</html>
